.cosmetics-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cosmetic-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  width: 220px;
  text-align: center;
  background: #f9f9f9;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cosmetic-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Container voor de afbeeldingen */
.image-row {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap; /* als te smal, breken ze af */
}

.image-row img {
  max-width: 100px;
  height: auto;
}

.img

{
  width: 100px;
  height: auto;
}

